{% extends 'website/caregiver/layout.html' %}

{% load static i18n %}


{% block content %}
    <div class="row mt-3 mx-3">
        <div class="col-md-5 my-auto">
            <h1 class="display-3">ARE YOU AN EARLY CHILDHOOD PROFESSIONAL?</h1>
            <h2 class="display-3">BE SEEN BY AN EVER-GROWING COMMUNITY OF PARENTS</h2>
            <p class="fw-lighter">Do you spend a lot of time on the phone handling bookings? And do you spend time and money on your marketing and customer acquisition?

                All the additional tasks that come with the profession can be daunting.
                
                Let us free you from that burden so that you can go back to doing what you love: taking care of families!</p>
            <a class="btn btn-primary" href="{% url 'caregiver:signup' %}" role="button">{% trans 'Join us' %}</a>
        </div>

        <div class="col-md-7 text-end">
            <img src="{% static "website/img/family_consulting.jpg" %}" class="img-fluid" alt="">
        </div>
    </div>

    <div class="row justify-content-around">
        <div class="col-md-2">
            <section>
                <h2>Section 1</h2>
                <p>{% lorem 30 w%}</p>
            </section>
        </div>
        <div class="col-md-2">
            <section>
                <h2>Section 2</h2>
                <p>{% lorem 30 w%}</p>
            </section>
        </div>
        <div class="col-md-2">
            <section>
                <h2>Section 3</h2>
                <p>{% lorem 30 w%}</p>
            </section>
        </div>
    </div>
{% endblock content %}
