{% extends 'website/caregiver/layout.html' %}

{% load static i18n %}


{% block content %}
    <div class="row mt-3 mx-3">
        <div class="col-md-5 my-auto">
            <h3>ARE YOU AN EARLY CHILDHOOD PROFESSIONAL?</h3>
            <h4>BE SEEN BY AN EVER-GROWING COMMUNITY OF PARENTS</h4>
            <p class="fw-lighter">Do you spend a lot of time on the phone handling bookings? And do you spend time and money on your marketing and customer acquisition?
                All the additional tasks that come with the profession can be daunting.                
                Let us free you from that burden so that you can go back to doing what you love: taking care of families!</p>
            <a class="btn btn-primary" href="{% url 'caregiver:signup' %}" role="button">{% trans 'Join us' %}</a>
        </div>

        <div class="col-md-7 text-end">
            <img src="{% static "website/img/family_consulting.jpg" %}" class="img-fluid" alt="">
        </div>
    </div>

    <br><br>
    <div class="row justify-content-around">
        <div class="col-md-3">
            
            <div class="card text-bg-light mb-3" style="max-width: 18rem;">
                <div class="card-header"> <h5 class="card-title">1 SIGN UP</h5> </div>
                <div class="card-body">
            
                  <p class="card-text">Sign up to create your online account to keep track of your bookings.</p>
                </div>
              </div>
        </div>
        <div class="col-md-3">
                        <div class="card text-bg-light mb-3" style="max-width: 18rem;">
                <div class="card-header"> <h5 class="card-title">2 CHOOSE THE SUPPORT YOU NEED</h5> </div>
                <div class="card-body">
            
                  <p class="card-text">Find the help you are seeking! Thanks to our category drop down menu, you can select the field in which you are seeking support. All the professions offering help in that category will show up. There is much more help available out there than parents often know. Help is on the way!</p>
                </div>
              </div>
        </div>
        <div class="col-md-3">
            <div class="card text-bg-light mb-3" style="max-width: 18rem;">
                <div class="card-header"> <h5 class="card-title">3 BOOK YOUR SESSION</h5> </div>
                <div class="card-body">
                 
                  <p class="card-text">Once you have found your caregiver, you can easily book an appointment. You will get free reminders before your appointments, so you don’t have to think about it anymore!</p>
                </div>
              </div>
    </div>

</div>
        <h3>YOUR ADVANTAGES</h3>
        <ul>
            <li>Optimize your online visibility</li>
            <li>Have an ever growing community of parents find you</li>
            <li>Get instant payments via our platform</li>
            <li>Optimize your online visibility</li>
            <li>Optimize your online visibility</li>
            <li>Optimize your online visibility</li>
        </ul>
        <a class="btn btn-primary" href="{% url 'caregiver:signup' %}" role="button">{% trans 'Join us' %}</a>
  
{% endblock content %}
