{% load static i18n %}
<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}">

<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    {% block stylesheet %}
    <link rel="stylesheet" href="{% static 'website/bootstrap/css/bootstrap.css' %}" >
    <link rel="stylesheet" href="{% static 'website/bootstrap/icons/bootstrap-icons.css' %}">
    <link rel="stylesheet" href="{% static 'website/choicesjs/css/choices.css' %}">
    <link rel="stylesheet" href="{% static 'website/fullcalendar/main.css' %}">
    <link rel="stylesheet" href="{% static 'website/css/specialist.css' %}">
    {% endblock %}
</head>

<body>

{% block navbar %}
    {% include "website/caregiver/blocks/navbar.html" %}
{% endblock %}

<div class="row">
    <div class="col-md-4 mx-auto">
        {% include "website/caregiver/blocks/messages.html" %}
    </div>
</div>

<div class="container-fluid">
    {% block content %}
    {% endblock content %}
</div>

<div class="container-fluid mb-3">
    <hr>
    <div class="row">
        <div class="offset-md-1 col-md-4 d-flex align-items-center">
            <span class="mb-3 mb-md-0 text-muted">© 2023 Bear Hug</span>
        </div>
        <div class="col-md-2">
            <small class="text-muted">
                <!-- <a class="text-reset" href="https://www.freepik.com/free-vector/family-consulting-doctor_5889554.htm#page=2&query=doctor&position=19&from_view=author">Image by pch.vector</a> on Freepik -->
            </small>
        </div> 
        <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">

            <li class="ms-3"><i class="bi bi-twitter"></i></li>
            <li class="ms-3"><i class="bi bi-instagram"></i></li>
            <li class="ms-3"><i class="bi bi-facebook"></i></li>
        </ul>
    </div>
</div>


{% block javascript %}
<script src="{% static 'website/bootstrap/js/bootstrap.bundle.js' %}"></script>
<script src="{% static 'website/choicesjs/js/choices.js' %}"></script>
<script src="{% static 'website/fullcalendar/main.js' %}"></script>
<script src="{% static 'website/js/calendar.js' %}"></script>
<script src="{% static 'website/js/form.js' %}"></script>
{% endblock javascript %}
</body>

</html>
