{% extends 'website/parent/layout.html' %}

{% load static i18n %}
{% load django_bootstrap5 %}

{% block content %}




    <!-- LOADER -->
    <!-- <div id="preloader">
        <img class="preloader" src="images/loaders/loader-app.gif" alt="">
    </div> end loader -->
    <!-- END LOADER -->
	
    <div id="pricing" class="section lb">
        <div class="container">
            <div class="section-title text-center">
                <h3>CAREGIVER MEMBERSHIPS</h3>
                <!--<p class="lead">Get the red carpet treatment <strong>just $39 per month!</strong> It is estimated that 3.5 million established by personal blogs.<br> From each other, we share paid WordPress themes WP Service...</p>-->
            </div><!-- end title -->

            <div class="row">
                <div class="col-md-12">
                    <div class="tab-content">
                        <div class="tab-pane active fade show" id="tab1">
                            <div class="row text-center">
                                <div class="col-md-3">
                                    <div class="pricing-table pricing-table-highlighted">
                                        <div class="pricing-table-header grd1">
                                            <h2>Free</h2>
                                            <h3>0&euro;/month</h3>
                                        </div>
                                        <div class="pricing-table-space"></div>
                                        <div class="pricing-table-features">
                                            <p> Online Profile</p>
                                            <p> Create your profile</p>
                                            <p> Add a photo</p>
                                        </div>
                                        <div class="pricing-table-sign-up">
                                            <a href="#" class="btn btn-dark btn-radius btn-brd grd1 effect-1">Select</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="pricing-table pricing-table-highlighted">
                                        <div class="pricing-table-header grd1">
                                            <h2>Bronze</h2>
                                            <h3>99&euro;/month</h3>
                                        </div>
                                        <div class="pricing-table-space"></div>
                                        <div class="pricing-table-features">
                                            <p> Online Profile</p>
                                            <p> Create your profile</p>
                                            <p> Add a photo</p>
                                            <p> Add a short written summary to introduce yourself to your customers</p>
                                            <p> Get a verified profile</p>
                                            <p><strong>Online Agenda</strong></p>
                                            <p> Customer can book a session with you directly via our platform</p>
                                            <p> You and your customer get a confirmation SMS/email</p>
                                            <p> No more need for physical transactions, customers can pay you directly via our platform</p>
                                            <p> Cancellation policy applied. Reduce the number of no-shows.</p>
                                        </div>
                                        <div class="pricing-table-sign-up">
                                            <a href="#" class="btn btn-dark btn-radius btn-brd grd1 effect-1">Select</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="pricing-table pricing-table-highlighted">
                                        <div class="pricing-table-header grd1">
                                            <h2>Silver</h2>
                                            <h3>199&euro;/month</h3>
                                        </div>
                                        <div class="pricing-table-space"></div>
                                        <div class="pricing-table-text">
                                            <p>This is a perfect choice for small businesses and startups.</p>
                                        </div>
                                        <div class="pricing-table-features">
                                            <p> Online Profile</p>
                                            <p> Create your profile</p>
                                            <p> Add a photo</p>
                                            <p> Add a short written summary to introduce yourself to your customers</p>
                                            <p> Get a verified profile</p>
                                            <p><strong>Online Agenda</strong></p>
                                            <p> Customer can book a session with you directly via our platform</p>
                                            <p> You and your customer get a confirmation SMS/email</p>
                                            <p> No more need for physical transactions, customers can pay you directly via our platform</p>
                                            <p> Cancellation policy applied. Reduce the number of no-shows.</p>
                                            <p><strong>SOS Button</strong></p>
                                            <p> Spend less time on the phone. We take care of the questions parents may have.</p>
                                            <p> Be on the list of caregivers we recommend to parents calling our hotline</p>
                                            <p><strong>Promote your workshops and seminars (Physical)</strong></p>
                                            <p> Reach many more customers</p>
                                            <p> No more need for extensive marketing and promotion</p>
                                            <p> No online joining option</p>
                                            <p><strong>Introduction Video</strong></p>
                                            <p> Introduce yourself to your customers through professional video of you and your services</p>
                                            <p> We come to your palce, shoot the video, take care of the editing and hosting of your video</p>
                                            <p> You own the video and can use it for other promotional purposes</p>
                                            <p> With adds</p>
                                        </div>
                                        <div class="pricing-table-sign-up">
                                            <a href="#" class="btn btn-dark btn-radius btn-brd grd1 effect-1">Select</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="pricing-table pricing-table-highlighted">
                                        <div class="pricing-table-header grd1">
                                            <h2>Gold</h2>
                                            <h3>299&euro;/month</h3>
                                        </div>
                                        <div class="pricing-table-space"></div>
                                        <div class="pricing-table-features">
                                            <p> Online Profile</p>
                                            <p> Create your profile</p>
                                            <p> Add a photo</p>
                                            <p> Add a short written summary to introduce yourself to your customers</p>
                                            <p> Get a verified profile</p>
                                            <p><strong>Online Agenda</strong></p>
                                            <p> Customer can book a session with you directly via our platform</p>
                                            <p> You and your customer get a confirmation SMS/email</p>
                                            <p> No more need for physical transactions, customers can pay you directly via our platform</p>
                                            <p> Cancellation policy applied. Reduce the number of no-shows.</p>
                                            <p><strong>SOS Button</strong></p>
                                            <p> Spend less time on the phone. We take care of the questions parents may have.</p>
                                            <p> Be on the list of caregivers we recommend to parents calling our hotline</p>
                                            <p><strong>Promote your workshops and seminars (Physical)</strong></p>
                                            <p> Reach many more customers</p>
                                            <p> No more need for extensive marketing and promotion</p>
                                            <p> No online joining option</p>
                                            <p><strong>Introduction Video</strong></p>
                                            <p> Introduce yourself to your customers through professional video of you and your services</p>
                                            <p> We come to your palce, shoot the video, take care of the editing and hosting of your video</p>
                                            <p> You own the video and can use it for other promotional purposes</p>
                                            <p> With adds</p>
                                            <p><strong>Add your own content</strong></p>
                                            <p> Write your own content on our easy to use platform and show your customers what makes you different</p>
                                            <p> Communicate more effectively with your customers through your content.</p>
                                            <p> Boost your listing/SEO on our platform and Google by posting articles</p>
                                            <p> You remain the owner of your content and can use it on other platforms</p>
                                        </div>
                                        <div class="pricing-table-sign-up">
                                            <a href="#" class="btn btn-dark btn-radius btn-brd grd1 effect-1">Select</a>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- end row -->
                        </div><!-- end pane -->
                    </div><!-- end content -->
                </div><!-- end col -->
            </div><!-- end row -->
        </div><!-- end container -->
    </div><!-- end section -->

 
    <!-- ALL JS FILES -->
    <script src="js/all.js"></script>
    <!-- ALL PLUGINS -->
    <script src="js/custom.js"></script>
	<script src="js/zenith.js"></script>
	<script>
		$('#default').zenith({
			layout: 'default' , 
			slideSpeed: 450, 
			autoplaySpeed: 2000
		});
	</script>


{% endblock content %}
