{% load i18n %}
<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
        <a href="{% url 'caregiver:home' %}" class="navbar-brand"><img class="logo" src ="/static/website/img/logoimg.png"><h2>BearHug</h2></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                {% if user.is_authenticated %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            {{ user.get_username }}
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'parent:logout' %}">{% trans 'Log out' %}</a></li>
                        </ul>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a href="{% url 'parent:home' %}" class="nav-link">{% trans "I am a parent"%} <i class="bi bi-box-arrow-in-right"></i></a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">{% trans "Log in" %}</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'caregiver:signup' %}" class="nav-link active">{% trans "Join us" %}</a>
                    </li>
                {% endif %}

                <li class="nav-item">
                    {% include "website/parent/blocks/select_language.html" %}
                </li>
            </ul>
        </div>

    </div>
</nav>
