div.home {
    background-image: url("../img/happy_family.jpg");
    height: 60vh;
}

.small-font {
    font-size: 0.65em;
}

.smaller-font {
    font-size: 0.8em;
    padding: 1px;
}
h1,h3,h4 {
    color:rgb(41, 27, 115);
    font-family:'Times New Roman', Times, serif;
}
h6 {
    color:rgb(74, 74, 210)
}
h5 {
    color:rgb(14, 86, 153);
}
.logo {
    height: 9%;
    width: 9%;
}
.d-flex{
    margin-top: 5px;
}
#find{
    margin-top: 5px;
}
.center {
    border: 3px solid rgb(94, 94, 166);
    border-radius: 5px;
    margin: auto;
    width: 100%;
    padding: 10px;
    display: flex;
  align-items: center;
  justify-content: center;
  }