div.required > label::after {
    content: ' *';
}

ul {
    list-style-type: square;
  }

  .center {
    padding: 70px 0;
    text-align: center;
  }

  .bigspace {
    margin-top: 10px;
  }


h1,h3 {
  color:rgb(41, 27, 115);
  font-family:Georgia, 'Times New Roman', Times, serif;
}
h6 {
  color:rgb(74, 74, 210)
}
h5 {
  color:rgb(14, 86, 153);
}
h2 {
  color:rgb(41, 27, 115);
  font-family: "Brush Script MT", "Lucida Handwriting", Cursive;
}
.logo {
  height: 8%;
  width: 8%;
}
.d-flex{
  margin-top: 5px;
}
#find{
  margin-top: 5px;
}