div.required > label::after {
    content: ' *';
}

ul li:before
{
    content: '\2713';
    display: inline-block;
    color: red;
    padding: 0 6px 0 0;
}

ul li
{
    list-style-type: none;
    font-size: 1em;
}
.center {
    border: 5px solid;
    display: flex;
    height: 150px;
    align-items: center;
  }