{% extends 'website/parent/layout.html' %}

{% load static i18n %}
{% load django_bootstrap5 %}


{% block content %}
<div class="row mt-3 mx-3">
    <div class="col-md-5 my-auto">
        <div class="text-brown">
        <h3 class="text-brown">ARE YOU PREGNANT? ARE YOU A PARENT?</h3>
        <h4>FIND HELP AND SUPPORT</h4></div>
        <p class="fw-lighter">Are you about to have a baby? Or maybe your baby is already born? Do you have a million questions? Do you often feel overwhelmed? Pregnancy, birth and post-partum are life changing moments in the life of a couple and at BearHug we believe that the transition into parenthood should be an easy and peaceful one.
            At BearHug you can find help and support to accompany you and your partner through the journey of parenthood.
            Because after all, it takes a village to raise a child!</p>
        <a class="btn btn-primary" href="{% url 'caregiver:signup' %}" role="button">{% trans 'Join us' %}</a>
    </div>

    <div class="row mx-3">
        <div class="col-md-4 my-auto">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">{% trans 'Search a specialist' %}</h3>
                    <form action="{% url 'parent:caregiver_list' %}" method="get" class="text-end">
                        <div class="input-group input-group-lg mb-3">
                            <span class="input-group-text"><i class="bi bi-search"></i></span>
                            <input onchange= 'categoryFilter(event)' class="form-control" list="specialityOptions" id="exampleDataList" placeholder="lactation, massage, natal ...">
                            <datalist id="specialityOptions">
                                {% for option_speciality in form.speciality|dictsort:'data.label' %}
                                    {{ option_speciality }}
                                {% endfor %}
                            </datalist>
                        </div>

                        <div class="input-group input-group-lg mb-3">
                            <span class="input-group-text"><i class="bi bi-person-circle"></i></span>
                            <select class="form-select"  id="input-speciality" >
                            {% for option_speciality in form.speciality|dictsort:'data.label' %}
                                    {{ option_speciality }}
                                {% endfor %}
                            </select>
                            <span class="input-group-text">
                                <a class="link-dark" href="{% url 'parent:info_speciality' %}" target="_blank"><i class="bi bi-question-circle-fill"></i></a>
                            </span>
                        </div>

                        <div class="input-group input-group-lg mb-3">
                            <span class="input-group-text"><i class="bi bi-geo-alt-fill"></i></span>
                            <select class="form-select"  id="input-city">
                                {% for option_city in form.city|dictsort:'data.label' %}
                                    <option value="{{ option_city }}"></option>
                                {% endfor %}
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary">{% trans "Search" %}</button>

                    </form>
                </div>
            </div>
        </div>

        <div class="col-md-8 text-end">
            <img src="{% static "website/img/happy_family.jpg" %}" class="img-fluid" alt="">

        </div>

    </div>


    <br><br>
    <div class="row justify-content-around">
        <div class="col-md-3">
            
            <div class="card text-bg-light mb-3" style="max-width: 18rem;">
                <div class="card-header"> <h5 class="card-title">1 SIGN UP</h5> </div>
                <div class="card-body">
            
                  <p class="card-text">Sign up to create your online account to keep track of your bookings.</p>
                </div>
              </div>
        </div>
        <div class="col-md-3">
                        <div class="card text-bg-light mb-3" style="max-width: 18rem;">
                <div class="card-header"> <h5 class="card-title">2 CHOOSE THE SUPPORT YOU NEED</h5> </div>
                <div class="card-body">
            
                  <p class="card-text">Find the help you are seeking! Thanks to our category drop down menu, you can select the field in which you are seeking support. All the professions offering help in that category will show up. There is much more help available out there than parents often know. Help is on the way!</p>
                </div>
              </div>
        </div>
        <div class="col-md-3">
            <div class="card text-bg-light mb-3" style="max-width: 18rem;">
                <div class="card-header"> <h5 class="card-title">3 BOOK YOUR SESSION</h5> </div>
                <div class="card-body">
                 
                  <p class="card-text">Once you have found your caregiver, you can easily book an appointment. You will get free reminders before your appointments, so you don’t have to think about it anymore!</p>
                </div>
              </div>
    </div>
</div>

<br><br>
<div class="col-md-3 my-auto">
    <div class="center text-primary">
    <h3>HOW BEARHUG CAN HELP YOU?</h3></div>
    <h4>Help and Support!</h4>
    <p class="fw-lighter">Becoming a parent can be quite a transition. And at BearHug we believe that this transition into parenthood should be a serene and peaceful experience. At BearHug you can find support and get early childhood professionals to guide you from pregnancy all the way through post-partum. They will listen, help and support you.

        Pregnancy and parenthood can often be unchartered territories, which it doesn’t need to be. We want to enable you to make informed decisions about childbirth, your post-partum wellbeing, your relationship and parenthood. Knowledge is power and we strive to help you find yours!</p>
  
</div>
<script>
    function categoryFilter(event){
        console.log(event);
    }
</script>

{% endblock content %}
